@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --main-color: rgb(0,210,141);
    --btn-font-size: 20px;
    --btn-border-radius: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
nav{
    background-color: rgb(31, 31, 31);
}
nav ul{
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    margin: 20px auto;
}
nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: var(--btn-font-size);
}
nav ul li a:hover{
    color: rgb(0,210,141);
    
}
main{
   position: relative;
   text-align: center;

}
main img{
    width: 100%;
    height: 800px;
}
main h1{
   position: absolute;
    top: 30%;
    left: 32%;
   font-size: 50px;
}
main #hotel-locations{
    position: absolute;
    top: 40%;
    left: 30%;
    width: 30%;
    font-size: 30px;
    padding: 10px 30px;
    border-radius: 10px;
}
.search-btn{
    position: absolute;
    top: 40%;
    right: 21%;
    padding: 15px 30px;
    font-size: var(--btn-font-size);
    border-radius: var(--btn-border-radius);
    background-color: var(--main-color);
    color: whitesmoke;
    font-weight: bold;
} 

/* footer */
.socials{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#copyright{
    margin: 20px 0;
}
.media-links{
    font-size: larger;
    display: flex;
}
.media-links strong{
    margin-right: 20px;
}
.media-links a{
    padding-left: 50px;
    color: whitesmoke;
    font-size: 50px;
    text-decoration: none;
}


/* Locations  Page */
.locations{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    /* text-align: center; */
    /* margin: 0 auto; */
    margin-top: 5%;
    
}
.loc-container{
    display: grid;
    justify-content: center;
    margin-top: 5%;
    
}
.location-btn{
    background-color: var(--main-color);
    width: 70%;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: var(--btn-border-radius);
    border: 0;
    color: whitesmoke;
    font-size: var(--btn-font-size);
}
.loc-images{
    /* border: 1px solid black; */
    border-radius: var(--btn-border-radius);
}

/* Hotel Page */
.hotel-welcome{
    text-align: center;
    margin: 4% auto;
    font-size: 50px;
    font-style: italic;
}
.hotel-container{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
    background-color: var(--main-color);
    border-radius: var(--btn-border-radius);
}
.hotel-img{
    border-radius: 20px;
    margin: 0 auto;
}
.facilities{
    width: 40%;
    padding: 5%;
    
}
.facilities li{
    text-decoration: none;
    list-style: none;
    font-size: var(--btn-font-size);
    color: rgb(25, 27, 25);
    font-style: italic;
    padding-top: 15px;
}
.hotel-btn{
    background-color: white;
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    padding: 10px 20px;
    margin: 20px auto;
    border: 0px var(--main-color) solid;
    border-radius: var(--btn-border-radius);
}
